/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {

    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 20px;
    color: #002764;
}

h1 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
}

.heading {
    font-size: 1em;
    display: block;
    line-height: 1.4em;
}

h2 {
    text-align: center;
    font-size: 1.6em;
}

.nav {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
   background-color: #002764;
}

.nav-item {
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 2vw;
    margin: 10px 2vw;
    font-size: 0.8em;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-link:before {
  content:"";
  width: 40px;
  height: 40px;
  background: no-repeat;
  background-size: contain;
  margin-bottom: 10px;
}

.about:before {
  background-image: url("about.png");
}

.dental:before {
  background-image: url("dental.png");
}

.facial:before {
  background-image: url("facial.png");
}

.price:before {
  background-image: url("price.png");
}

.contact:before {
  background-image: url("contact.png");
}

@media (min-width:620px) {
  .nav-link {
    font-size: 1em;
  }

  .nav-link:before {
      display: none;
    }
}
